
            h1 {
                color: brown;
            }

           
        .header{

            background-color: rgb(12, 113, 202);
            display : flex ;
            justify-content: space-between;
        }
        .grid{

            background-color: rgb(235, 103, 15);
            display : flex ;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .footer{

            background-color: rgb(235, 15, 15);
            display : flex ;
            justify-content: flex-end;
        }
